*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: "Microsoft YaHei";
}
a{text-decoration: none}
a:link{text-decoration: none}
a:visited{text-decoration:none;}
a:hover{
    text-decoration: none;
    color: #A80E14;
}
a:hover img{
    filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;
}
a:active{text-decoration:none;}

.logo{
    width: 100%;
    height: 118px;
    background: #E9ECF1;

}
.logoImg{
    margin: 10px 0px 0px 0px;
    width: 471px;
    height: 97px;
    float: left;
}
.col-lg-3{
    margin: 40px 0px 0px 328px;
    float: left;
    width: 400px;
}
.top{
    width: 1200px;
    height: 118px;
    margin: 0 auto;
}
nav{
    width: 100%;
    height: 50px;
    background: #fff;
}
nav #nav1{
    width: 1200px;
    margin: 0px auto;
}
nav ul li a{
    display:block;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    color: #000!important;
}
.navList{
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.navList a:hover{
    color: #fff!important;
}

.dropDwon{
    width: 100px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 50px;
    opacity: 0;
}

.dropDwon li{
    width: 100px;
    height: 50px;
    color: #fff;
    background-color:#A80E14;
    line-height: 50px;
    text-align: center;
    transition: all 1s;
    position: relative;
    z-index: 1;
}
.dropDwon li a{
    display: block;
    width: 100px;
    height: 50px;
    color: #fff!important;
}
.navList{
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 50px;
}
.navList:hover{
    overflow: visible;
    color: #000!important;
    background: #A80E14;
}
nav ul .navList:hover .dropDwon{
    overflow: visible;
    filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.85;
}
.news{
    width: 1150px;
    height: 1100px;
    margin: 0 auto;

}
.title{
    width: 330px;
    height: 70px;
    font-size: 18px;
    line-height: 60px;
    color: #818181;
}
.title a{
    color: #818181;
}
.title a:hover{
    color: #A80E14;
}
.newsContent{
    width: 100%;
    height: 900px;
    border-top: 3px solid #A80E14;
    border-bottom: 3px solid #A80E14;
    margin: 0 auto;
}
.type{
    width: 200px;
    height: 500px;
    float: left;
}
.typeTitle{
    width:  100%;
    height: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    background: #A80E14;
    color: #fff;
}
.now{
    background: #A80E14;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.typeList:hover{
    background: #A80E14;
    color: #fff;
}
.typeList{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.typeList:hover{
    background: #A80E14;
    color: #fff;
}
.content{
    width: 940px;
    height: 100%;
    float: right;
}
.contentTitle{
    width: 630px;
    color: #A80E14;
    margin: 30px auto 0px auto;
    font-size: 22px;
    font-weight: bold;
}
.time{
    width: 225px;
    color: #818181;
    margin: 10px auto 0px auto;
    font-size: 12px;
}
.mainContent{
    width: 800px;
    height: 780px;
    margin: 20px auto 0px auto;
    font-size: 18px;
    line-height: 32px;
}
.editor{
    width: 190px;
    height: 50px;
    margin: 80px 20px 0px 0px;
    float: right;
    font-size: 16px;
}
.pageBox{
    width: 1000px;
    height: 70px;
    margin: 35px auto 0px auto;

}
.pageLink{
    width:  530px;
    height: 100%;
    margin: 0;
    font-size: 16px;
}
.pageLink a{
    color: #818181;
}
.pageLink a:hover{
    color: #A80E14;
}
footer{
    border-top:1px solid #E60012;
    border-top-width: 5px;
    width:  100%;
    height: 430px;
    background: #413E3E;
    opacity: 0.95;
}
.fastLink{
    width:  745px;
    height: 315px;
    float: left;
    line-height: 40px;
}
.bottomCenter{
    width:  1200px;
    height: 315px;
    margin: 50px auto 0 auto;
}
.QR-code{
    margin-top: 10px;
    width:  400px;
    height: 188px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 22px;
}
.weChat{
    float: left;
    margin-left: 40px;
}
.linkTop{
    color: #E9E9E9;
    font-size: 15px;
}
.linkContent a{
    color: #C8C8C8;
}
.fastLinkList{
    float: left;
    margin-right: 37px;
}
.bottomContact{
    height: 125px;
    width: 100%;
    background: #2F2E2E;
    color: #CBCBCB;
    padding-top: 1px;
}
.bottomContactTxt{
    width: 600px;
    height: 60px;
    text-align: center;
    line-height: 30px;
    margin: 32px auto;
}


@media (max-width: 1170px){
    nav ul li a{
        width: 90px;
        height: 50px;
        font-weight: bold;
        font-size: 16px;
        color: #000!important;
    }
    .navList{
        overflow: hidden;
        position: relative;
        width: 90px;
        height: 50px;
    }
    .dropDwon li a{
        display: block;
        width: 90px;
        height: 50px;
        color: #fff!important;
    }
    .dropDwon li{
        width: 90px;
        height: 50px;
        color: #fff;
        background-color:#A80E14;
        line-height: 50px;
        text-align: center;
        transition: all 1s;
        position: relative;
        z-index: 1;
    }
    .carousel{
        width: 1100px;
        margin: 0 auto;
    }
    .col-lg-3{
        margin: 40px 0px 0px 200px;
        float: left;
        width: 400px;
    }
    .mainContent{
        width: 600px;
        height: 850px;
        margin: 20px auto 0px auto;
        font-size: 16px;
        line-height: 32px;
    }
    .newsContent{
        width: 100%;
        height: 1000px;
        border-top: 3px solid #A80E14;
        border-bottom: 3px solid #A80E14;
        margin: 0 auto;
    }
    .news{
        width: 1150px;
        height: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 970px){
    nav ul li a{
        width: 75px;
        height: 50px;
        font-weight: bold;
        font-size: 15px;
        color: #000!important;
    }
    .navList{
        overflow: hidden;
        position: relative;
        width: 75px;
        height: 50px;
    }
    .dropDwon li a{
        display: block;
        width: 75px;
        height: 50px;
        color: #fff!important;
    }
    .dropDwon li{
        width: 75px;
        height: 50px;
        color: #fff;
        background-color:#A80E14;
        line-height: 50px;
        text-align: center;
        transition: all 1s;
        position: relative;
        z-index: 1;
    }
    .carousel{
        width: 900px;
        margin: 0 auto;
    }
    .col-lg-3{
        margin: 40px 0px 0px 80px;
        float: left;
        width: 400px;
    }

    .mainContent{
        width: 600px;
        height: 780px;
        margin: 20px 0px;
        font-size: 16px;
        line-height: 32px;
    }

    .pageBox{
        width: 1000px;
        height: 70px;
        margin: 35px auto 0px auto;
    }

    .contentTitle{
        width: 630px;
        color: #A80E14;
        margin: 30px 0px;
        font-size: 22px;
        font-weight: bold;
    }
    .time{
        width: 225px;
        color: #818181;
        margin: 10px 200px;
        font-size: 12px;
    }
    .type{
        width: 150px;
        height: 500px;
        float: left;
    }
    footer{
        border-top:1px solid #E60012;
        border-top-width: 5px;
        width:  100%;
        height: 600px;
        background: #413E3E;
        opacity: 0.95;
    }
    .fastLinkList{
        float: left;
        margin-right: 20px;
    }
    .fastLink{
        width:  650px;
        height: 315px;
        float: left;
        line-height: 40px;
    }
    .bottomCenter{
        width:  1000px;
        height: 315px;
        margin: 50px auto 0 auto;
    }
    .QR-code{
        width:  400px;
        height: 188px;
        float: left;
        color: #fff;
        text-align: center;
        font-size: 22px;
        margin:10px 0px 0px 100px;
    }
}
